@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.chart-container {
        width: 80%;
        max-width: 700px;
        margin: 0 auto;
        height:auto;
        border: .5px solid #000;
        padding: 10px;
        background-color: white;
        font-family: "Outfit", sans-serif;
      }

canvas {
        width: 100%;
        height: auto;
      }


@media screen and (max-width: 768px) {
  .chart-container {
    width: 100%;
    padding: 0 10px;
  }

  .chart-title {
    font-size: 14px;
  }
}